---
---
<footer class="bg-zinc-900 w-[100dvw] h-40 p-8">
  <div class="flex flex-col justify-center items-center text-gray-300">
        <div class="flex flex-wrap my-2">
          <p class="w-max mx-2">Designed & Built by Nicolas Bouffanais</p>
        </div>
        <div class="flex flex-col gap-2 text-center">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/nicolas-ignacio-bouffanais-lay-941989236/"
            title="My linkedin profile"
          >
            Linkedin
          </a>
          <a
            target="_blank"
            href="https://github.com/N-Ignacio-Bouffanais"
            title="Nicolas.B Github Profile"
          >
            Github
          </a>
        </div>
      </div>
</footer>