---
import LoginForm from '../components/LoginForm';
import MySiteLayout from '../layouts/MySiteLayout.astro';

---

<MySiteLayout title="login">
<div>
  <div>
    <LoginForm client:only="solid-js"/>
  </div>
</div>
</MySiteLayout>