---
import RegisterForm from '../components/RegisterForm';
import MySiteLayout from '../layouts/MySiteLayout.astro';

---

<MySiteLayout title="register">
<div class="flex w-full flex-col justify-center bg-slate-300 dark:bg-[#121622] h-[100dvh]">
      <div class="flex flex-col items-center mb-6 mx-auto space-y-3 text-center w-[340px] sm:w-[420px]">
    <RegisterForm client:only="reactjs"/>
  </div>
</div>
</MySiteLayout>