---
import MySiteLayout from '../layouts/MySiteLayout.astro';


// import { isLoggedIn } from '../utils';
// const cookie = Astro.request.headers.get('cookie');
// // Si el usuario no ha iniciado sesión, redirígelos a la página de inicio de sesión
// if (!isLoggedIn(cookie)) {
//   return Astro.redirect('/login');
// }
---

<MySiteLayout title="Shopping car">
<div>

</div>
</MySiteLayout>